<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378413044531-35pak3cp0mbb95kgmq9sm9p7igvll7cs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378413044531-35pak3cp0mbb95kgmq9sm9p7igvll7cs</string>
	<key>API_KEY</key>
	<string>AIzaSyDKBwr-vAZEg2ITUNAQ6PJZURkUxPT6BYw</string>
	<key>GCM_SENDER_ID</key>
	<string>378413044531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mentalmind.kz.MentalMindiOS</string>
	<key>PROJECT_ID</key>
	<string>mentalmind-pushes-9afd7</string>
	<key>STORAGE_BUCKET</key>
	<string>mentalmind-pushes-9afd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378413044531:ios:a90c34075c5ba2b477e446</string>
</dict>
</plist>